* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

table {


  padding-left : 10px;
  margin-left :20px;
  min-width : 70%;
  color :orange;
   font-size :17px;
}

table td {
    border: 3px solid purple;
    border-radius :3px;
   min-width : 51px; 
}



a {
  font-family: Verdana, sans-serif;
  color: white;
  font-size: 20px;
  text-decoration: none;


}

a:hover {
  color:cyan;
  background-color : purple;
}

header{
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: solid 1px #ebebeb;
  margin-top: 0px;
  background-image: linear-gradient(to right, cyan, blue);
  
}

header nav{
  float: right;
  padding: 32px 16px;
  font-family: Verdana, sans-serif;
  color: purple;
}
header .title1{
  padding: 16px 16px;
  float: left;
  font-family: Verdana, sans-serif;
  color: white;
  font-size: 20px;
  font-type :bold; 
  margin-left: 90px;
  margin-top:13px;
  background-color: blue;

}
header .navigation-item{
  padding: 16px;
}
header .navigation-home{
  padding: 16px;
    background-color: red;
     border-radius: 25px;

}
header .navigation-register{
  padding: 16px;
  background-color: red;
  border-radius: 25px;
}

.hhhh{
clear: both;

}
main{


float: left;
margin-top: 130px;

}
h1
{
padding-left: 100px;
font-size: 30px;
max-width: 250PX;
color :purple;


}

article h1 {
padding-left: 100px;
font-size: 30px;
max-width: 250PX;
color :purple;
}
aside{
float :right;
font-size: 20px;
margin-right: 70px;
margin-top: 100px;
color :purple;
font-family: Verdana, sans-serif;
max-width: 40%;

}
aside.home{
float :right;
font-size: 20px;
margin-right: 70px;
margin-top: 100px;
color :blue;
font-family: Verdana, sans-serif;
max-width: 40%;

}


.features{
  margin-top: 100px;
padding-left: 52px;
background-image: linear-gradient(to right, #6bfffa, #0bed38);
  color: white;
 font-size: 30px;
 font-family: Verdana, sans-serif;
border-radius: 30px;
margin-bottom: 10px;


}
.features {
  margin-top: 100px;
padding-left: 3%;
text-align: centre;
background-image: linear-gradient(to right, #6bfffa, #0bed38);
color: white;
font-size: 30px;
font-family: Verdana, sans-serif;
border-radius: 30px;
margin-bottom: 10px;

}
.list 
{
clear: both;
background-color: blue;
color: white;
border-radius: 30px;
margin-bottom: 10px;
padding-right: 20px;
max-width : 80%;
padding-left:10%;
right:30px;
}

.container {
  padding: 16px;
}


input[type=text], input[type=password] , input[type=date]  {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:hover, input[type=password]:hover ,input[type=date]:hover {
  background-color: #ddd;
 
}



.registerbtn {
  background-image: linear-gradient(to right, cyan, blue);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}



footer{
  clear: both;
      }
 footer .foot{
    padding-left: 40%;
    padding-top: 5px
    padding-bottom: 5px;
    font-size: 25px;
    background-image: linear-gradient(to right, cyan, blue);
    color :white;    
 }
.11{
clear:both;
margin-top:30px;
}

body{

background-color: #deff93;



}
